
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.contentContainer {
    width: 50%;

}
.imageContainer {
    width: 40%;
}

.heading {
    font-size: 60px;
    color: #C59867;
}

button {
    height: 35px;
    border: 2px solid #C59867;
    cursor: pointer;
    margin-top: 10px;
}

p {
    font-size: 24px;
    color: #C5D0DB;
}
img {
    max-width: 100%;
}